{%- if section.blocks.size > 0 -%}
    
  <div id="section-{{ section.id }}" class="container--large remove-empty-space
    {% unless section.settings.remove_margin %} {% unless section.settings.descrease_margin %} container--vertical-space {% else %} container--vertical-space-grid {% endunless %} {% endunless %} 
    {% if section.settings.section_background_color != "rgba(0,0,0,0)" or section.settings.section_background_gradient != blank %} container--has-background {% endif %}
    {% if section.settings.section_visibility == "mobile" %} element--hide-on-desk {% endif %}
    {% if section.settings.section_visibility == "desktop" %} element--hide-on-small {% endif %}
  ">

    {%- render 'section-heading', heading: section.settings.heading, subheading: section.settings.subheading, heading_tag: section.settings.seo_h_tag, layout: section.settings.section_heading_layout, button: section.settings.view_all_link != blank, button_label: section.settings.view_all_label, link: section.settings.view_all_link -%}
    
    <css-slider data-options='{
        "selector": ".carousel-slide",
        "indexNav": true,
        "groupCells": true,
        "navigationDOM": "<span class=\"css-slider-button css-slider-prev\" style=\"display:none\"><svg fill=\"none\" height=\"13\" viewBox=\"0 0 8 13\" width=\"8\" xmlns=\"http://www.w3.org/2000/svg\"><g fill=\"#000\" ><path d=\"m7.91419 1.41431-6.48529 6.48528-1.4142102-1.41422 6.4852802-6.48527702z\"/><path d=\"m6.48528 12.9849-6.48528027-6.48532 1.41421027-1.41421 6.48528 6.48523z\"/></g></svg></span><span class=\"css-slider-button css-slider-next\" style=\"display:none\"><svg width=\"9\" height=\"13\" viewBox=\"0 0 9 13\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\"><path d=\"M0.914169 11.5857L7.39945 5.10041L8.81367 6.51463L2.32838 12.9999L0.914169 11.5857Z\" fill=\"black\"/><path d=\"M2.34307 0.0151367L8.82835 6.50042L7.41414 7.91463L0.928857 1.42935L2.34307 0.0151367Z\" fill=\"black\"/></svg></span>"
      }'
      class="css-slider css-slider--bottom-navigation flex-cards-carousel{% if section.settings.is_autoheight %} auto-height{% endif %}{% if section.settings.full_width %} full-width{% endif %}"
      id="css-slider-{{ section.id }}"
      style="--cards-per-view: {{ section.settings.cards_per_view }}; --cards-per-view-mobile: {{ section.settings.cards_per_view_mobile }}; --cards-gap: {{ section.settings.cards_gap }}px;"
    >
      {%- render 'custom-shadow', section_id: section.id -%}
      <div class="carousel-container">
        <div class="carousel-track" data-carousel-track>
          {%- for block in section.blocks -%}
            {%- liquid
              assign column_desktop = block.settings.column_desktop | default: 2 | plus: 0
              assign image_height_mobile = section.settings.image_height_mobile | default: 200 | plus: 0
              assign image_height_desktop = section.settings.image_height_desktop | default: 300 | plus: 0
              assign aspect_ratio = block.settings.image.aspect_ratio
            -%}

            <div
              id="element-{{ block.id }}"
              class="block-flex-item card carousel-slide{% if block.settings.hide_on_mobile %} element--hide-on-small{% endif %}"
              style="
                --column-desktop: {{ column_desktop }};
                --image-height-desktop: {{ image_height_desktop }}px;
                --image-height-mobile: {{ image_height_mobile }}px;
              "
              {{ block.shopify_attributes }}
            >
              {%- unless section.settings.hide_media -%}
                <div class="card__image border-radius-top">
                  {%- liquid
                    assign video_url = block.settings.video
                    for source in block.settings.video.sources
                      unless source.url contains 'm3u8'
                        assign video_url = source.url
                      endunless
                    endfor
                  -%}

                  {%- unless video_url != blank -%}
                    {%- unless block.settings.image == blank -%}
                      <img 
                        src="{{ block.settings.image | image_url: width: 400 }}"
                        alt="{{ block.settings.image.alt | escape }}"
                        width="{{ block.settings.image.width }}"
                        height="{{ block.settings.image.height }}"
                        loading="lazy"
                        style="width: 100%; height: 100%; object-fit: cover;"
                      >
                    {%- else -%}
                      {{ 'image' | placeholder_svg_tag: class: 'placeholder-svg' }}
                    {%- endunless -%}

                  {%- else -%}
                    <script>
                      window.KrownAssetLoader.loadScript('{{ "component-video.js" | asset_url }}');
                    </script>

                    {%- render 'video-component',
                      video_file: block.settings.video,
                      image: block.settings.image,
                      is_background: true,
                      autoplay_video: true,
                      loop_video: true,
                      id: block.id,
                      preload: preload,
                      title: block.settings.image.alt
                    -%}
                  {%- endunless -%}
                </div>
              {%- endunless -%}

              <div
                class="card__text gutter--{{ section.settings.gutter_size }} text-align--{{ section.settings.text_alignment }} spacing--custom-{{ section.settings.spacing }} remove-empty-space"
                style="--horizontal-alignment:{{ section.settings.text_alignment }};"
              >
                {%- if block.settings.heading != blank -%}
                  <h3 class="card__heading">{{ block.settings.heading }}</h3>
                {%- endif -%}
                {%- if block.settings.text != blank -%}
                  <div class="card__description">{{ block.settings.text }}</div>
                {%- endif -%}
                {%- if block.settings.button_label != blank -%}
                  <a href="{{ block.settings.link | default: '#' }}" class="button button--outline">{{ block.settings.button_label }}</a>
                {%- endif -%}
              </div>
            </div>

            {%- render 'custom-colors',
              id: block.id,
              text: block.settings.color_text_main,
              background: block.settings.color_background_main,
              accent: block.settings.color_accent_main,
              borders: block.settings.color_borders_main,
              shadow: block.settings.color_shadow_main,
              hide_borders: block.settings.color_hide_borders,
              hide_shadow: block.settings.color_hide_shadow
            -%}

            {%- if section.settings.is_autoheight -%}
              {% style %}
                @media screen and (max-width: 767px) {
                  {%- if block.settings.video == blank -%}
                    #shopify-section-{{ section.id }} .card__image {
                      padding-top: {%- if block.settings.image != blank -%} {{ 100 | divided_by: aspect_ratio }}% {%- else -%} 100% {%- endif -%};
                    }
                  {%- else -%}
                    #shopify-section-{{ section.id }} video-component {
                      aspect-ratio: 1 / {{ 1 | divided_by: block.settings.video.aspect_ratio }};
                    }
                  {%- endif -%}
                }
              {% endstyle %}
            {%- endif -%}

          {%- endfor -%}
        </div>
      </div>
      
    </css-slider>

  </div>

{%- endif -%}

{%- if section.settings.section_background_color != "rgba(0,0,0,0)" -%}
  {% style %}
    #shopify-section-{{ section.id }} {
      background-color: {{ section.settings.section_background_color }};
    }
  {% endstyle %}
{%- endif -%}
{%- if section.settings.section_background_gradient != blank -%}
  {% style %}
    #shopify-section-{{ section.id }} {
      background: {{ section.settings.section_background_gradient }};
    }
  {% endstyle %}
{%- endif -%}
{%- if section.settings.section_heading_color != "rgba(0,0,0,0)" -%}
  {% style %}
    #shopify-section-{{ section.id }} {
      --color-text-main: {{ section.settings.section_heading_color }};
    }
  {% endstyle %}
{%- endif -%}

{% style %}
  #shopify-section-{{ section.id }} .flex-cards-carousel {
    --cards-per-view: {{ section.settings.cards_per_view }};
    --cards-gap: {{ section.settings.cards_gap }}px;
    --image-height-desktop: {{ section.settings.image_height_desktop }}px;
    --image-height-mobile: {{ section.settings.image_height_mobile }}px;
  }
  
  @media screen and (max-width: 767px) {
    #shopify-section-{{ section.id }} .flex-cards-carousel {
      --cards-per-view: {{ section.settings.cards_per_view_mobile }};
    }
  }
{% endstyle %}

<link rel="stylesheet" href="{{ 'section-flex-cards-carousel.css' | asset_url }}" media="print" onload="this.media='all'">
<script src="{{ 'component-flex-cards-carousel.js' | asset_url }}" defer></script>

{% schema %}
  {
    "name": "Flex Cards Carousel",
    "blocks": [
      {
        "type": "card",
        "name": "Card",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "t:sections.gallery.blocks.image.settings.image.label"
          },
          {
            "type": "video",
            "id": "video",
            "label": "t:video-extra-functions.video_upload.label",
            "info": "t:sections.local-extra-words.sections.media-with-text-overlay.blocks.video.info"
          },
          {
            "type": "header",
            "content": "Content"
          },
          {
            "type": "text",
            "id": "heading",
            "label": "Heading",
            "default": "Card heading"
          },
          {
            "type": "textarea",
            "id": "text",
            "label": "Text",
            "default": "Card description text"
          },
          {
            "type": "text",
            "id": "button_label",
            "label": "Button label"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Link"
          },
          {
            "type": "header",
            "content": "t:theme_blocks.sections.flex-section.grid_design"
          },
          {
            "type": "range",
            "id": "column_desktop",
            "min": 2,
            "max": 12,
            "step": 1,
            "label": "t:theme_blocks.grid-text.column_desktop",
            "default": 2
          },
          {
            "type": "checkbox",
            "id": "hide_on_mobile",
            "label": "t:local-230.hide_on_mobile",
            "default": false
          },
          {
            "type": "header",
            "content": "t:sections.local-extra-words.sections.headings.custom_colors"
          },
          {
            "type": "color",
            "id": "color_background_main",
            "label": "t:sections.split-extra-words.settings_schema.colors.settings.background",
            "default": "rgba(0,0,0,0)"
          },
          {
            "type": "color",
            "id": "color_text_main",
            "label": "t:sections.split-extra-words.settings_schema.colors.settings.text",
            "default": "rgba(0,0,0,0)"
          },
          {
            "type": "color",
            "id": "color_accent_main",
            "label": "t:sections.local-extra-words.settings_schema.colors.settings.accent",
            "default": "rgba(0,0,0,0)"
          },
          {
            "type": "color",
            "id": "color_borders_main",
            "label": "t:sections.split-extra-words.settings_schema.colors.settings.borders",
            "default": "rgba(0,0,0,0)"
          },
          {
            "type": "color",
            "id": "color_shadow_main",
            "label": "t:local-march-update.shadows.label",
            "default": "rgba(0,0,0,0)"
          },
          {
            "type": "checkbox",
            "id": "color_hide_borders",
            "label": "t:sections.local-extra-words.settings_schema.colors.settings.hide_border",
            "default": false
          },
          {
            "type": "checkbox",
            "id": "color_hide_shadow",
            "label": "t:local-march-update.shadows.hide",
            "default": false
          }
        ]
      }
    ],
    "settings": [
      {
        "type": "header",
        "content": "t:local-march-update.labels.heading"
      },
      {
        "type": "text",
        "id": "heading",
        "label": "t:sections.local-extra-words.sections.headings.heading",
        "default": "Promotion cards"
      },
      {
        "type": "text",
        "id": "subheading",
        "label": "t:sections.local-extra-words.sections.headings.subheading",
        "default": "Share your best offers"
      },
      {
        "type": "text",
        "id": "view_all_label",
        "label": "View all link label",
        "default": "View all"
      },
      {
        "type": "url",
        "id": "view_all_link",
        "label": "View all link"
      },
      {
        "type": "select",
        "id": "section_heading_layout",
        "label": "t:sections.rich-text.settings.text_alignment.label",
        "options": [
          {
            "value": "section-heading--left",
            "label": "t:sections.rich-text.settings.text_alignment.options__1.label"
          },
          {
            "value": "section-heading--center",
            "label": "t:sections.rich-text.settings.text_alignment.options__2.label"
          }
        ],
        "default": "section-heading--left"
      },
      {
        "type": "header",
        "content": "Carousel Settings"
      },
      {
        "type": "range",
        "id": "cards_per_view",
        "label": "Cards per view (Desktop)",
        "min": 1,
        "max": 4,
        "step": 1,
        "default": 3
      },
      {
        "type": "range",
        "id": "cards_per_view_mobile",
        "label": "Cards per view (Mobile)",
        "min": 1,
        "max": 3,
        "step": 1,
        "default": 1
      },
      {
        "type": "range",
        "id": "cards_gap",
        "label": "Gap between cards",
        "min": 10,
        "max": 50,
        "step": 5,
        "unit": "px",
        "default": 20
      },
      {
        "type": "checkbox",
        "id": "full_width",
        "label": "Full width carousel",
        "info": "Allow carousel to extend beyond container boundaries",
        "default": false
      },
      {
        "type": "header",
        "content": "t:sections.main-article.blocks.content.name"
      },
      {
        "type": "range",
        "id": "image_height_desktop",
        "visible_if": "{{ section.settings.hide_media == false }}",
        "min": 100,
        "max": 600,
        "step": 10,
        "default": 300,
        "unit": "px",
        "label": "t:flex-cards.settings.height.desktop"
      },
      {
        "type": "checkbox",
        "id": "is_autoheight",
        "visible_if": "{{ section.settings.hide_media == false }}",
        "label": "t:flex-cards.settings.height.auto",
        "default": true
      },
      {
        "type": "range",
        "id": "image_height_mobile",
        "visible_if": "{{ section.settings.hide_media == false and section.settings.is_autoheight == false }}",
        "label": "t:flex-cards.settings.height.mobile",
        "min": 100,
        "max": 500,
        "step": 10,
        "default": 200,
        "unit": "px"
      },
      {
        "type": "checkbox",
        "id": "hide_media",
        "label": "t:flex-cards.settings.image_visibility",
        "default": false
      },
      {
        "type": "header",
        "content": "t:sections.local-extra-words.sections.headings.text_style"
      },
      {
        "type": "select",
        "id": "text_alignment",
        "label": "t:sections.image-with-text.settings.text_alignment.label",
        "options": [
          {
            "value": "left",
            "label": "t:sections.rich-text.settings.text_alignment.options__1.label"
          },
          {
            "value": "center",
            "label": "t:sections.rich-text.settings.text_alignment.options__2.label"
          },
          {
            "value": "right",
            "label": "t:sections.rich-text.settings.text_alignment.options__3.label"
          }
        ],
        "default": "left"
      },
      {
        "type": "select",
        "id": "spacing",
        "label": "t:local-march-update.labels.text_spacing",
        "options": [
          {
            "label": "t:sections.slider.settings.desktop_height.options__1.label",
            "value": "xsmall"
          },
          {
            "label": "t:sections.slider.settings.desktop_height.options__2.label",
            "value": "small"
          },
          {
            "label": "t:sections.image-with-text.settings.text_size.options__2.label",
            "value": "large"
          },
          {
            "label": "t:sections.image-with-text.settings.text_size.options__3.label",
            "value": "xlarge"
          }
        ],
        "default": "xsmall"
      },
      {
        "type": "select",
        "id": "gutter_size",
        "label": "t:theme_blocks.sections.flex-section.gutter_size",
        "options": [
          {
            "value": "regular",
            "label": "t:sections.local-extra-words.sections.media-with-text-overlay.settings.option__5"
          },
          {
            "value": "large",
            "label": "t:sections.local-extra-words.sections.media-with-text-overlay.settings.option__2"
          }
        ],
        "default": "regular"
      },
      {
        "type": "header",
        "content": "t:local-march-update.labels.section_design"
      },
      {
        "type": "color",
        "id": "section_background_color",
        "label": "t:sections.local-extra-words.settings_schema.product-card.badges.custom_badges.color",
        "default": "rgba(0,0,0,0)"
      },
      {
        "type": "color_background",
        "id": "section_background_gradient",
        "label": "t:local-230.background_gradient"
      },
      {
        "type": "color",
        "id": "section_heading_color",
        "label": "t:local-223.heading_text_color",
        "default": "rgba(0,0,0,0)"
      },
      {
        "type": "checkbox",
        "id": "descrease_margin",
        "visible_if": "{{ section.settings.remove_margin == false }}",
        "label": "t:theme_blocks.descrease_top_margin",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "remove_margin",
        "visible_if": "{{ section.settings.descrease_margin == false }}",
        "label": "t:sections.local-extra-words.sections.rich-text.settings.remove_margin.label",
        "default": false
      },
      {
        "type": "header",
        "content": "t:sections.refactor_words.seo.name"
      },
      {
        "type": "select",
        "id": "seo_h_tag",
        "label": "t:sections.refactor_words.seo.label",
        "info": "t:sections.refactor_words.seo.info",
        "options": [
          {
            "value": "h1",
            "label": "H1"
          },
          {
            "value": "h2",
            "label": "H2"
          },
          {
            "value": "h3",
            "label": "H3"
          },
          {
            "value": "h4",
            "label": "H4"
          },
          {
            "value": "span",
            "label": "span"
          }
        ],
        "default": "h2"
      },
      {
        "type": "header",
        "content": "t:sections.refactor_words.announcement-bar.visibility.label"
      },
      {
        "type": "select",
        "id": "section_visibility",
        "label": "t:sections-visibility.label",
        "options": [
          {
            "value": "always",
            "label": "t:sections-visibility.options.always"
          },
          {
            "value": "mobile",
            "label": "t:sections-visibility.options.mobile"
          },
          {
            "value": "desktop",
            "label": "t:sections-visibility.options.desktop"
          }
        ],
        "default": "always"
      }
    ], 
    "presets": [
      {
        "name": "Flex Cards Carousel",
        "category": "t:sections-categories.promotions",
        "blocks":[
          {
            "type":"card",
            "settings":{
              "heading":"Your best promotion yet",
              "text":"Introducing our latest collection with amazing deals and offers.",
              "button_label":"Shop Now",
              "column_desktop":4,
              "hide_on_mobile":false,
              "color_hide_borders":false,
              "color_hide_shadow":false
            }
          },
          {
            "type":"card",
            "settings":{
              "heading":"Your greatest deal yet",
              "text":"Discover our exclusive products with special pricing and limited time offers.",
              "button_label":"Discover",
              "column_desktop":4,
              "hide_on_mobile":false,
              "color_hide_borders":false,
              "color_hide_shadow":false
            }
          },
          {
            "type":"card",
            "settings":{
              "heading":"Don't miss this special promotion",
              "text":"Just arrived! New products with incredible value and quality you'll love.",
              "button_label":"Shop Now",
              "column_desktop":4,
              "hide_on_mobile":false,
              "color_hide_borders":false,
              "color_hide_shadow":false
            }
          }
        ],
        "settings":{
          "heading":"Promotion cards",
          "subheading":"Share your best offers",
          "section_heading_layout":"section-heading--left",
          "cards_per_view":3,
          "cards_per_view_mobile":1,
          "cards_gap":20,
          "full_width":false,
          "image_height_desktop":300,
          "image_height_mobile":200,
          "text_alignment":"left"
        }
      }
    ],
    "disabled_on": {
      "groups": ["header"]
    }
  }
{% endschema %}
