{{ 'section-footer.css' | asset_url | stylesheet_tag }}

<div class="footer-bottom">
  <div class="container--large gutter-top--regular gutter-bottom--regular rte">
    <span>
      {{ 'general.copyright' | t }} &copy; {{ 'now' | date: '%Y' }}
      <a href="{{ routes.root_url }}">{{ shop.name | escape }}</a>.
    </span>

    {%- if section.settings.show_social -%}
      {%- render 'social-icons' -%}
    {%- endif -%}
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main-password-footer.name",
  "class": "main-footer",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_social",
      "label": "t:sections.main-password-footer.settings.show_social.label",
      "default": false
    }
  ]
}
{% endschema %}
